In [9]:
pip install beautifulsoup4 requests pandas

Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.12/site-packages (4.12.3)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (2.32.3)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.12/site-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (2024.8.30)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the Transfermarkt rankings page
url = "https://www.transfermarkt.com/statistik/weltrangliste"

# Send a request to the webpage
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    print("Page loaded successfully!")
    
    # Parse the HTML content of the page
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find the table containing the rankings (this can be adjusted if the page structure changes)
    table = soup.find('table', {'class': 'items'})  # Look for the table with class "items"
    
    # Extract the headers (columns) of the table
    headers = [header.text.strip() for header in table.find_all('th')]
    
    # Extract the rows (data) of the table
    rows = table.find_all('tr')[1:]  # Skip the header row
    
    # Initialize an empty list to hold the row data
    data = []
    
    # Loop through each row and extract the columns
    for row in rows:
        columns = row.find_all('td')
        
        # Extract the relevant data from each column and clean it
        rank = columns[0].text.strip()
        team = columns[1].find('img')['alt'] if columns[1].find('img') else columns[1].text.strip()
        points = columns[2].text.strip()
        
        # Add the data to the list
        data.append([rank, team, points])
    
    # Create a pandas DataFrame from the extracted data
    df = pd.DataFrame(data, columns=headers[:3])  # Use only the first 3 headers (Rank, Team, Points)
    
    # Display the DataFrame
    print(df)
else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

Failed to retrieve the page. Status code: 403

In [13]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the Transfermarkt rankings page
url = "https://www.transfermarkt.com/statistik/weltrangliste"

# Set up headers to mimic a real browser request
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# Send a request to the webpage with the custom header
response = requests.get(url, headers=headers)

# Check if the request was successful
if response.status_code == 200:
    print("Page loaded successfully!")
    
    # Parse the HTML content of the page
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find the table containing the rankings (this can be adjusted if the page structure changes)
    table = soup.find('table', {'class': 'items'})  # Look for the table with class "items"
    
    # Extract the headers (columns) of the table
    headers = [header.text.strip() for header in table.find_all('th')]
    
    # Extract the rows (data) of the table
    rows = table.find_all('tr')[1:]  # Skip the header row
    
    # Initialize an empty list to hold the row data
    data = []
    
    # Loop through each row and extract the columns
    for row in rows:
        columns = row.find_all('td')
        
        # Extract the relevant data from each column and clean it
        rank = columns[0].text.strip()
        team = columns[1].find('img')['alt'] if columns[1].find('img') else columns[1].text.strip()
        points = columns[2].text.strip()
        
        # Add the data to the list
        data.append([rank, team, points])
    
    # Create a pandas DataFrame from the extracted data
    df = pd.DataFrame(data, columns=headers[:3])  # Use only the first 3 headers (Rank, Team, Points)
    
    # Display the DataFrame
    print(df)
else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

Page loaded successfully!
     #         Nation Squad size
0    1      Argentina         25
1    2         France         23
2    3          Spain         24
3    4        England         23
4    5         Brazil         23
5    6       Portugal         26
6    7    Netherlands         25
7    8        Belgium         19
8    9          Italy         23
9   10        Germany         22
10  11        Uruguay         22
11  12       Colombia         26
12  13        Croatia         26
13  14        Morocco         26
14  15          Japan         27
15  16  United States         23
16  17        Senegal         23
17  18           Iran         28
18  19         Mexico         27
19  20    Switzerland         22
20  21        Denmark         26
21  22        Austria         24
22  23    South Korea         26
23  24        Ecuador         25
24  25        Ukraine         22

In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the Transfermarkt rankings page
url = "https://www.transfermarkt.com/statistik/weltrangliste"

# Set up headers to mimic a real browser request
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# Send a request to the webpage with the custom header
response = requests.get(url, headers=headers)

# Check if the request was successful
if response.status_code == 200:
    print("Page loaded successfully!")
    
    # Parse the HTML content of the page
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find the table containing the rankings (this can be adjusted if the page structure changes)
    table = soup.find('table', {'class': 'items'})  # Look for the table with class "items"
    
    # Extract the headers (columns) of the table
    headers = [header.text.strip() for header in table.find_all('th')]
    
    # Extract the rows (data) of the table
    rows = table.find_all('tr')[1:]  # Skip the header row
    
    # Initialize an empty list to hold the row data
    data = []
    
    # Loop through each row and extract the columns
    for row in rows:
        columns = row.find_all('td')
        
        # Extract the relevant data from each column and clean it
        rank = columns[0].text.strip()
        team = columns[1].find('img')['alt'] if columns[1].find('img') else columns[1].text.strip()
        points = columns[2].text.strip()
        
        # Add the data to the list
        data.append([rank, team, points])
    
    # Create a pandas DataFrame from the extracted data
    df = pd.DataFrame(data, columns=headers[:3])  # Use only the first 3 headers (Rank, Team, Points)
    
    # Display the DataFrame
    print(df)
else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

Page loaded successfully!
     #         Nation Squad size
0    1      Argentina         25
1    2         France         23
2    3          Spain         24
3    4        England         23
4    5         Brazil         23
5    6       Portugal         26
6    7    Netherlands         25
7    8        Belgium         19
8    9          Italy         23
9   10        Germany         22
10  11        Uruguay         22
11  12       Colombia         26
12  13        Croatia         26
13  14        Morocco         26
14  15          Japan         27
15  16  United States         23
16  17        Senegal         23
17  18           Iran         28
18  19         Mexico         27
19  20    Switzerland         22
20  21        Denmark         26
21  22        Austria         24
22  23    South Korea         26
23  24        Ecuador         25
24  25        Ukraine         22

In [17]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the Transfermarkt rankings page
url = "https://www.transfermarkt.com/statistik/weltrangliste"

# Set up headers to mimic a real browser request
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# Send a request to the webpage with the custom header
response = requests.get(url, headers=headers)

# Check if the request was successful
if response.status_code == 200:
    print("Page loaded successfully!")
    
    # Parse the HTML content of the page
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find the table containing the rankings (this can be adjusted if the page structure changes)
    table = soup.find('table', {'class': 'items'})  # Look for the table with class "items"
    
    # Extract the headers (columns) of the table
    headers = [header.text.strip() for header in table.find_all('th')]
    
    # Extract the rows (data) of the table
    rows = table.find_all('tr')[1:]  # Skip the header row
    
    # Initialize an empty list to hold the row data
    data = []
    
    # Loop through each row and extract the columns
    for row in rows:
        columns = row.find_all('td')
        
        # Extract the relevant data from each column and clean it
        rank = columns[0].text.strip()
        team = columns[1].find('img')['alt'] if columns[1].find('img') else columns[1].text.strip()
        points = columns[2].text.strip()
        previous_points = columns[3].text.strip()
        rank_change = columns[4].text.strip()
        confederation = columns[5].text.strip()
        rank_date = columns[6].text.strip()
        
        # Add the data to the list
        data.append([rank, team, points, previous_points, rank_change, confederation, rank_date])
    
    # Create a pandas DataFrame from the extracted data with all columns
    df = pd.DataFrame(data, columns=headers[:7])  # Use the first 7 headers (Rank, Team, Points, etc.)
    
    # Display the DataFrame
    print(df)
else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

Page loaded successfully!
     #         Nation Squad size Avg. age Total value Confederation Points
0    1      Argentina         25     27.5    €716.50m      CONMEBOL   1867
1    2         France         23     26.8    €978.00m          UEFA   1860
2    3          Spain         24     25.9    €890.00m          UEFA   1853
3    4        England         23     25.3    €995.00m          UEFA   1814
4    5         Brazil         23     27.0    €921.80m      CONMEBOL   1776
5    6       Portugal         26     26.1    €835.00m          UEFA   1756
6    7    Netherlands         25     26.2    €776.50m          UEFA   1748
7    8        Belgium         19     24.9    €333.00m          UEFA   1741
8    9          Italy         23     25.3    €729.00m          UEFA   1732
9   10        Germany         22     28.6    €781.00m          UEFA   1704
10  11        Uruguay         22     26.5    €398.00m      CONMEBOL   1696
11  12       Colombia         26     29.0    €291.20m      CONMEBOL   1694
12  13        Croatia         26     27.9    €289.20m          UEFA   1692
13  14        Morocco         26     26.7    €386.50m           CAF   1688
14  15          Japan         27     27.1    €280.50m           AFC   1653
15  16  United States         23     25.5     €61.10m      CONCACAF   1645
16  17        Senegal         23     27.7    €249.00m           CAF   1637
17  18           Iran         28     28.1     €46.65m           AFC   1635
18  19         Mexico         27     27.7    €163.95m      CONCACAF   1627
19  20    Switzerland         22     27.6    €173.90m          UEFA   1625
20  21        Denmark         26     26.6    €415.25m          UEFA   1611
21  22        Austria         24     28.0    €212.10m          UEFA   1590
22  23    South Korea         26     28.3    €158.15m           AFC   1585
23  24        Ecuador         25     26.0    €275.50m      CONMEBOL   1560
24  25        Ukraine         22     25.8    €286.00m          UEFA   1555

In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Base URL of the Transfermarkt rankings page
url_base = "https://www.transfermarkt.com/statistik/weltrangliste?page="

# Set up headers to mimic a real browser request
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# List to hold data from all pages
all_data = []

# Loop through pages 1 to 9 (since there are 9 pages in total)
for page in range(1, 10):  # Scraping 9 pages
    print(f"Scraping page {page}...")
    
    # Send a request to the webpage with the custom header
    response = requests.get(url_base + str(page), headers=headers)
    
    # Check if the request was successful
    if response.status_code == 200:
        print(f"Page {page} loaded successfully!")
        
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Find the table containing the rankings (this can be adjusted if the page structure changes)
        table = soup.find('table', {'class': 'items'})  # Look for the table with class "items"
        
        # Extract the rows (data) of the table
        rows = table.find_all('tr')[1:]  # Skip the header row
        
        # Loop through each row and extract the columns
        for row in rows:
            columns = row.find_all('td')
            
            # Extract the relevant data from each column and clean it
            rank = columns[0].text.strip()
            team = columns[1].find('img')['alt'] if columns[1].find('img') else columns[1].text.strip()
            points = columns[2].text.strip()
            previous_points = columns[3].text.strip()
            rank_change = columns[4].text.strip()
            confederation = columns[5].text.strip()
            rank_date = columns[6].text.strip()
            
            # Add the data to the list
            all_data.append([rank, team, points, previous_points, rank_change, confederation, rank_date])
    else:
        print(f"Failed to retrieve page {page}. Status code: {response.status_code}")

# Create a pandas DataFrame from the extracted data with all columns
headers = ['Rank', 'Team', 'Points', 'Previous Points', 'Rank Change', 'Confederation', 'Rank Date']
df = pd.DataFrame(all_data, columns=headers)

# Display the DataFrame
print(df)

# Optionally, save the DataFrame to a CSV file
 #df.to_csv('transfermarkt_ranking_all_pages.csv', index=False)

Scraping page 1...
Page 1 loaded successfully!
Scraping page 2...
Page 2 loaded successfully!
Scraping page 3...
Page 3 loaded successfully!
Scraping page 4...
Page 4 loaded successfully!
Scraping page 5...
Page 5 loaded successfully!
Scraping page 6...
Page 6 loaded successfully!
Scraping page 7...
Page 7 loaded successfully!
Scraping page 8...
Page 8 loaded successfully!
Scraping page 9...
Page 9 loaded successfully!
    Rank                          Team Points Previous Points Rank Change  \
0      1                     Argentina     25            27.5    €716.50m
1      2                        France     23            26.8    €978.00m
2      3                         Spain     24            25.9    €890.00m
3      4                       England     23            25.3    €995.00m
4      5                        Brazil     23            27.0    €921.80m
..   ...                           ...    ...             ...         ...
205  206      Turks and Caicos Islands     16            20.8        €75k
206  207        British Virgin Islands     20            22.0           -
207  208  United States Virgin Islands     20            24.7           -
208  209                      Anguilla     22            24.2           -
209  210                    San Marino     24            24.9      €1.08m

    Confederation Rank Date
0        CONMEBOL      1867
1            UEFA      1860
2            UEFA      1853
3            UEFA      1814
4        CONMEBOL      1776
..            ...       ...
205      CONCACAF       804
206      CONCACAF       780
207      CONCACAF       780
208      CONCACAF       769
209          UEFA       747

[210 rows x 7 columns]

In [27]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Base URL of the Transfermarkt rankings page
url_base = "https://www.transfermarkt.com/statistik/weltrangliste?page="

# Set up headers to mimic a real browser request
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# List to hold data from all pages
all_data = []

# Loop through pages 1 to 9 (since there are 9 pages in total)
for page in range(1, 10):  # Scraping 9 pages
    print(f"Scraping page {page}...")
    
    # Send a request to the webpage with the custom header
    response = requests.get(url_base + str(page), headers=headers)
    
    # Check if the request was successful
    if response.status_code == 200:
        print(f"Page {page} loaded successfully!")
        
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Find the table containing the rankings (this can be adjusted if the page structure changes)
        table = soup.find('table', {'class': 'items'})  # Look for the table with class "items"
        
        # Extract the rows (data) of the table
        rows = table.find_all('tr')[1:]  # Skip the header row
        
        # Loop through each row and extract the columns
        for row in rows:
            columns = row.find_all('td')
            
            # Extract the relevant data from each column and clean it
            rank = columns[0].text.strip()
            team = columns[1].find('img')['alt'] if columns[1].find('img') else columns[1].text.strip()
            points = columns[2].text.strip()
            previous_points = columns[3].text.strip()
            rank_change = columns[4].text.strip()
            confederation = columns[5].text.strip()
            rank_date = columns[6].text.strip()
            
            # Add the data to the list
            all_data.append([rank, team, points, previous_points, rank_change, confederation, rank_date])
    else:
        print(f"Failed to retrieve page {page}. Status code: {response.status_code}")

# Create a pandas DataFrame from the extracted data with all columns
headers = ['Rank', 'Team', 'Points', 'Previous Points', 'Rank Change', 'Confederation', 'Rank Date']
df = pd.DataFrame(all_data, columns=headers)

# Convert the "Rank" column to numeric for proper sorting
df['Rank'] = pd.to_numeric(df['Rank'], errors='coerce')

# Sort the DataFrame by "Rank" in ascending order (smallest rank value is the best)
df_sorted = df.sort_values(by='Rank', ascending=True)

# Display the sorted DataFrame
print(df_sorted)

# Optionally, save the sorted DataFrame to a CSV file
# df_sorted.to_csv('sorted_transfermarkt_ranking.csv', index=False)

Scraping page 1...
Page 1 loaded successfully!
Scraping page 2...
Page 2 loaded successfully!
Scraping page 3...
Page 3 loaded successfully!
Scraping page 4...
Page 4 loaded successfully!
Scraping page 5...
Page 5 loaded successfully!
Scraping page 6...
Page 6 loaded successfully!
Scraping page 7...
Page 7 loaded successfully!
Scraping page 8...
Page 8 loaded successfully!
Scraping page 9...
Page 9 loaded successfully!
     Rank                          Team Points Previous Points Rank Change  \
0       1                     Argentina     25            27.5    €716.50m
1       2                        France     23            26.8    €978.00m
2       3                         Spain     24            25.9    €890.00m
3       4                       England     23            25.3    €995.00m
4       5                        Brazil     23            27.0    €921.80m
..    ...                           ...    ...             ...         ...
205   206      Turks and Caicos Islands     16            20.8        €75k
206   207        British Virgin Islands     20            22.0           -
207   208  United States Virgin Islands     20            24.7           -
208   209                      Anguilla     22            24.2           -
209   210                    San Marino     24            24.9      €1.08m

    Confederation Rank Date
0        CONMEBOL      1867
1            UEFA      1860
2            UEFA      1853
3            UEFA      1814
4        CONMEBOL      1776
..            ...       ...
205      CONCACAF       804
206      CONCACAF       780
207      CONCACAF       780
208      CONCACAF       769
209          UEFA       747

[210 rows x 7 columns]

In [31]:
# Save the sorted DataFrame to a CSV file
df_sorted.to_csv('sorted_transfermarkt_ranking.csv', index=False)

In [47]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Base URL of the Transfermarkt rankings page
url_base = "https://www.transfermarkt.com/statistik/weltrangliste?page="

# Set up headers to mimic a real browser request
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# List to hold data from all pages
all_data = []

# Loop through pages 1 to 9 (since there are 9 pages in total)
for page in range(1, 10):  # Scraping 9 pages
    print(f"Scraping page {page}...")
    
    # Send a request to the webpage with the custom header
    response = requests.get(url_base + str(page), headers=headers)
    
    # Check if the request was successful
    if response.status_code == 200:
        print(f"Page {page} loaded successfully!")
        
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Find the table containing the rankings (this can be adjusted if the page structure changes)
        table = soup.find('table', {'class': 'items'})  # Look for the table with class "items"
        
        # Extract the rows (data) of the table
        rows = table.find_all('tr')[1:]  # Skip the header row
        
        # Loop through each row and extract the columns
        for row in rows:
            columns = row.find_all('td')
            
            # Extract the relevant data from each column and clean it
            rank = columns[0].text.strip()
            nation = columns[1].find('img')['alt'] if columns[1].find('img') else columns[1].text.strip()
            squad_size = columns[2].text.strip()
            avg_age = columns[3].text.strip()
            total_value = columns[4].text.strip()
            confederation = columns[5].text.strip()
            points = columns[6].text.strip()
            
            # Add the data to the list
            all_data.append([rank, nation, squad_size, avg_age, total_value, confederation, points])
    else:
        print(f"Failed to retrieve page {page}. Status code: {response.status_code}")

# Create a pandas DataFrame from the extracted data with the correct headers
headers = ['Rank', 'Nation', 'Squad Size', 'Avg Age', 'Total Value', 'Confederation', 'Points']
df = pd.DataFrame(all_data, columns=headers)

# Clean the "Rank" column: remove non-numeric characters (if any)
df['Rank'] = df['Rank'].str.extract('(\d+)').astype(int)

# Convert "Points" to numeric
df['Points'] = pd.to_numeric(df['Points'], errors='coerce')

# Convert "Avg Age" to numeric
df['Avg Age'] = pd.to_numeric(df['Avg Age'], errors='coerce')

# Clean "Total Value" column by removing non-numeric characters (€, commas, and 'm')
def clean_total_value(value):
    # Remove commas and '€' symbol, then check if it contains 'm' for million
    value = value.replace('€', '').replace(',', '')
    if 'm' in value.lower():
        value = value.replace('m', '').strip()
        return float(value) * 1e6  # Convert to millions (multiply by 1,000,000)
    return float(value)

df['Total Value'] = df['Total Value'].apply(clean_total_value)

# Display the cleaned DataFrame
print("Cleaned DataFrame:")
print(df.head())

# Save the cleaned DataFrame to a CSV file
#df.to_csv('transfermarkt_rankings.csv', index=False)

<>:59: SyntaxWarning: invalid escape sequence '\d'
<>:59: SyntaxWarning: invalid escape sequence '\d'
/var/folders/l4/g8j3y_vx0pq5tl_95dwxp9hr0000gp/T/ipykernel_14026/1504307934.py:59: SyntaxWarning: invalid escape sequence '\d'
  df['Rank'] = df['Rank'].str.extract('(\d+)').astype(int)

Scraping page 1...
Page 1 loaded successfully!
Scraping page 2...
Page 2 loaded successfully!
Scraping page 3...
Page 3 loaded successfully!
Scraping page 4...
Page 4 loaded successfully!
Scraping page 5...
Page 5 loaded successfully!
Scraping page 6...
Page 6 loaded successfully!
Scraping page 7...
Page 7 loaded successfully!
Scraping page 8...
Page 8 loaded successfully!
Scraping page 9...
Page 9 loaded successfully!

/var/folders/l4/g8j3y_vx0pq5tl_95dwxp9hr0000gp/T/ipykernel_14026/1504307934.py:59: SyntaxWarning: invalid escape sequence '\d'
  df['Rank'] = df['Rank'].str.extract('(\d+)').astype(int)

ValueError: could not convert string to float: '25k'

In [55]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

# Base URL of the Transfermarkt rankings page
url_base = "https://www.transfermarkt.com/statistik/weltrangliste?page="

# Set up headers to mimic a real browser request
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# List to hold data from all pages
all_data = []

# Loop through pages 1 to 9 (since there are 9 pages in total)
for page in range(1, 10):  # Scraping 9 pages
    print(f"Scraping page {page}...")
    
    # Send a request to the webpage with the custom header
    response = requests.get(url_base + str(page), headers=headers)
    
    # Check if the request was successful
    if response.status_code == 200:
        print(f"Page {page} loaded successfully!")
        
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Find the table containing the rankings (this can be adjusted if the page structure changes)
        table = soup.find('table', {'class': 'items'})  # Look for the table with class "items"
        
        # Extract the rows (data) of the table
        rows = table.find_all('tr')[1:]  # Skip the header row
        
        # Loop through each row and extract the columns
        for row in rows:
            columns = row.find_all('td')
            
            # Extract the relevant data from each column and clean it
            rank = columns[0].text.strip()
            nation = columns[1].find('img')['alt'] if columns[1].find('img') else columns[1].text.strip()
            squad_size = columns[2].text.strip()
            avg_age = columns[3].text.strip()
            total_value = columns[4].text.strip()
            confederation = columns[5].text.strip()
            points = columns[6].text.strip()
            
            # Add the data to the list
            all_data.append([rank, nation, squad_size, avg_age, total_value, confederation, points])
    else:
        print(f"Failed to retrieve page {page}. Status code: {response.status_code}")

# Create a pandas DataFrame from the extracted data with the correct headers
headers = ['Rank', 'Nation', 'Squad Size', 'Avg Age', 'Total Value', 'Confederation', 'Points']
df = pd.DataFrame(all_data, columns=headers)

# Clean the "Rank" column: remove non-numeric characters (if any)
df['Rank'] = df['Rank'].str.extract('(\d+)').astype(int)

# Convert "Points" to numeric (integer)
df['Points'] = pd.to_numeric(df['Points'], errors='coerce', downcast='integer')

# Convert "Avg Age" to float
df['Avg Age'] = pd.to_numeric(df['Avg Age'], errors='coerce')

# Clean "Total Value" column by removing non-numeric characters (€, commas, 'm', 'k', and 'b')
def clean_total_value(value):
    # If the value is '-', replace with NaN
    if value == '-':
        return np.nan
    
    # Remove commas, '€', and strip leading/trailing spaces
    value = value.replace('€', '').replace(',', '').strip()
    
    # Handle 'm' for millions
    if 'm' in value.lower():
        value = value.replace('m', '').strip()
        return float(value) * 1e6  # Convert to millions (multiply by 1,000,000)
    
    # Handle 'b' for billions
    elif 'b' in value.lower():
        value = value.replace('b', '').strip()
        return float(value) * 1e9  # Convert to billions (multiply by 1,000,000,000)
    
    # Handle 'k' for thousands
    elif 'k' in value.lower():
        value = value.replace('k', '').strip()
        return float(value) * 1e3  # Convert to thousands (multiply by 1,000)
    
    # Otherwise, return the value as is (if it's just a plain number)
    return float(value)

# Apply the function to clean the "Total Value" column
df['Total Value'] = df['Total Value'].apply(clean_total_value)

# Convert "Squad Size" to numeric (integer)
df['Squad Size'] = pd.to_numeric(df['Squad Size'], errors='coerce', downcast='integer')

# Convert "Confederation" to object (string), ensuring no unexpected values
df['Confederation'] = df['Confederation'].astype(str)

# Ensure that the correct data types are set
print(f"Data types:\n{df.dtypes}")

# Display the cleaned DataFrame
print("Cleaned DataFrame:")
print(df.head())

# Save the cleaned DataFrame to a CSV file
df.to_csv('transfermarkt_rankings.csv', index=False)

<>:60: SyntaxWarning: invalid escape sequence '\d'
<>:60: SyntaxWarning: invalid escape sequence '\d'
/var/folders/l4/g8j3y_vx0pq5tl_95dwxp9hr0000gp/T/ipykernel_14026/2889923072.py:60: SyntaxWarning: invalid escape sequence '\d'
  df['Rank'] = df['Rank'].str.extract('(\d+)').astype(int)

Scraping page 1...
Page 1 loaded successfully!
Scraping page 2...
Page 2 loaded successfully!
Scraping page 3...
Page 3 loaded successfully!
Scraping page 4...
Page 4 loaded successfully!
Scraping page 5...
Page 5 loaded successfully!
Scraping page 6...
Page 6 loaded successfully!
Scraping page 7...
Page 7 loaded successfully!
Scraping page 8...
Page 8 loaded successfully!
Scraping page 9...
Page 9 loaded successfully!
Data types:
Rank               int64
Nation            object
Squad Size          int8
Avg Age          float64
Total Value      float64
Confederation     object
Points             int16
dtype: object
Cleaned DataFrame:
   Rank     Nation  Squad Size  Avg Age  Total Value Confederation  Points
0     1  Argentina          25     27.5  716500000.0      CONMEBOL    1867
1     2     France          23     26.8  978000000.0          UEFA    1860
2     3      Spain          24     25.9  890000000.0          UEFA    1853
3     4    England          23     25.3  995000000.0          UEFA    1814
4     5     Brazil          23     27.0  921800000.0      CONMEBOL    1776

In [57]:
df.to_csv('transfermarkt_rankings.csv', index=False)

In [63]:
df

,Rank,Nation,Squad Size,Avg Age,Total Value,Confederation,Points
0,1,Argentina,25,27.5,716500000.0,CONMEBOL,1867
1,2,France,23,26.8,978000000.0,UEFA,1860
2,3,Spain,24,25.9,890000000.0,UEFA,1853
3,4,England,23,25.3,995000000.0,UEFA,1814
4,5,Brazil,23,27.0,921800000.0,CONMEBOL,1776
...,...,...,...,...,...,...,...
205,206,Turks and Caicos Islands,16,20.8,75000.0,CONCACAF,804
206,207,British Virgin Islands,20,22.0,NaN,CONCACAF,780
207,208,United States Virgin Islands,20,24.7,NaN,CONCACAF,780
208,209,Anguilla,22,24.2,NaN,CONCACAF,769
209,210,San Marino,24,24.9,1080000.0,UEFA,747

In [67]:

df.to_csv('/Users/ahmadkhalilghamai/Desktop/transfermarket/transfermarkt_rankings.csv', index=False)

In [73]:
import pandas as pd

# Specify the path to the CSV file you saved earlier
file_path = '/Users/ahmadkhalilghamai/Desktop/transfermarket/transfermarkt_rankings.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows to confirm
df.head()

   Rank     Nation  Squad Size  Avg Age  Total Value Confederation  Points
0     1  Argentina          25     27.5  716500000.0      CONMEBOL    1867
1     2     France          23     26.8  978000000.0          UEFA    1860
2     3      Spain          24     25.9  890000000.0          UEFA    1853
3     4    England          23     25.3  995000000.0          UEFA    1814
4     5     Brazil          23     27.0  921800000.0      CONMEBOL    1776

In [75]:
df.isnull()

      Rank  Nation  Squad Size  Avg Age  Total Value  Confederation  Points
0    False   False       False    False        False          False   False
1    False   False       False    False        False          False   False
2    False   False       False    False        False          False   False
3    False   False       False    False        False          False   False
4    False   False       False    False        False          False   False
..     ...     ...         ...      ...          ...            ...     ...
205  False   False       False    False        False          False   False
206  False   False       False    False         True          False   False
207  False   False       False    False         True          False   False
208  False   False       False    False         True          False   False
209  False   False       False    False        False          False   False

[210 rows x 7 columns]