# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [3]:
# Your code here
import pandas as pd

In [5]:
url="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df=pd.read_csv(url)

In [7]:
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print(df.columns)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [11]:
# Standardize column names
df.columns = df.columns.str.lower()  # Convert to lowercase
df.columns = df.columns.str.replace(" ", "_")  # Replace spaces with underscores
df.columns = df.columns.str.replace(r"\bst\b", "state", regex=True)  # Replace 'st' with 'state'

# Display updated column names
print(df.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [13]:
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [15]:
# Your code here
# Standardize gender column
df["gender"] = df["gender"].str.strip().str.lower()  # Convert to lowercase and remove spaces
df["gender"] = df["gender"].replace({"female": "F", "femal": "F", "f": "F", "male": "M", "m": "M"})

# Verify changes
print(df["gender"].unique())  # Should only contain 'M' and 'F'

[nan 'F' 'M']

In [17]:
# Define state mappings
state_mapping = {
    "AZ": "Arizona", "Cali": "California", "WA": "Washington", 
    "NY": "New York", "TX": "Texas", "FL": "Florida"
}

# Replace state abbreviations
df["state"] = df["state"].replace(state_mapping)

# Verify changes
print(df["state"].unique())

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]

In [19]:
df["education"] = df["education"].replace({"Bachelors": "Bachelor"})

# Verify changes
print(df["education"].unique())

['Master' 'Bachelor' 'High School or Below' 'College' 'Doctor' nan]

In [21]:
# Remove '%' and convert to float
df["customer_lifetime_value"] = df["customer_lifetime_value"].str.replace("%", "").astype(float)

# Verify changes
print(df["customer_lifetime_value"].head())

0           NaN
1     697953.59
2    1288743.17
3     764586.18
4     536307.65
Name: customer_lifetime_value, dtype: float64

In [23]:
df["vehicle_class"] = df["vehicle_class"].replace({
    "Sports Car": "Luxury",
    "Luxury SUV": "Luxury",
    "Luxury Car": "Luxury"
})

# Verify changes
print(df["vehicle_class"].unique())

['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury' nan]

In [25]:
df.info()  # Check data types
df.head()  # Check first few rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   float64
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   object
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 344.6+ KB

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [27]:
# Your code here
df["customer_lifetime_value"] = pd.to_numeric(df["customer_lifetime_value"], errors="coerce")

# Verify changes
print(df["customer_lifetime_value"].dtype)  # Should be float64

float64

In [29]:
# Extract the middle value (index 1) and convert to numeric
df["number_of_open_complaints"] = df["number_of_open_complaints"].astype(str).apply(lambda x: x.split("/")[1] if "/" in x else x)

# Convert to numeric
df["number_of_open_complaints"] = pd.to_numeric(df["number_of_open_complaints"], errors="coerce")

# Verify changes
print(df["number_of_open_complaints"].unique())  # Should only contain numbers
print(df["number_of_open_complaints"].dtype)  # Should be int64 or float64

[ 0.  2.  1.  3.  5.  4. nan]
float64

In [31]:
print(df.dtypes)

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [37]:
# Your code here
numeric_cols = df.select_dtypes(include=['number']).columns  # Get numeric columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

In [39]:
categorical_cols = df.select_dtypes(include=['object']).columns  # Get categorical columns
df[categorical_cols] = df[categorical_cols].fillna(df[categorical_cols].mode().iloc[0])

In [41]:
threshold = 0.5 * len(df)  # Set threshold (drop if >50% missing)
df = df.dropna(axis=1, thresh=threshold)

# Check again for missing values
print(df.isnull().sum())

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [43]:
# Convert all numeric columns to integers
df[numeric_cols] = df[numeric_cols].astype(int)

# Verify changes
print(df.dtypes)

customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int64
income                        int64
monthly_premium_auto          int64
number_of_open_complaints     int64
policy_type                  object
vehicle_class                object
total_claim_amount            int64
dtype: object

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [55]:
# Your code here
import pandas as pd

# Load dataset
df = pd.read_csv(url)

# Identify duplicate rows
duplicates = df[df.duplicated()]
print("Duplicate Rows:")
print(duplicates)

Duplicate Rows:
     Customer   ST GENDER Education Customer Lifetime Value  Income  \
1072      NaN  NaN    NaN       NaN                     NaN     NaN
1073      NaN  NaN    NaN       NaN                     NaN     NaN
1074      NaN  NaN    NaN       NaN                     NaN     NaN
1075      NaN  NaN    NaN       NaN                     NaN     NaN
1076      NaN  NaN    NaN       NaN                     NaN     NaN
...       ...  ...    ...       ...                     ...     ...
4003      NaN  NaN    NaN       NaN                     NaN     NaN
4004      NaN  NaN    NaN       NaN                     NaN     NaN
4005      NaN  NaN    NaN       NaN                     NaN     NaN
4006      NaN  NaN    NaN       NaN                     NaN     NaN
4007      NaN  NaN    NaN       NaN                     NaN     NaN

      Monthly Premium Auto Number of Open Complaints Policy Type  \
1072                   NaN                       NaN         NaN
1073                   NaN                       NaN         NaN
1074                   NaN                       NaN         NaN
1075                   NaN                       NaN         NaN
1076                   NaN                       NaN         NaN
...                    ...                       ...         ...
4003                   NaN                       NaN         NaN
4004                   NaN                       NaN         NaN
4005                   NaN                       NaN         NaN
4006                   NaN                       NaN         NaN
4007                   NaN                       NaN         NaN

     Vehicle Class  Total Claim Amount
1072           NaN                 NaN
1073           NaN                 NaN
1074           NaN                 NaN
1075           NaN                 NaN
1076           NaN                 NaN
...            ...                 ...
4003           NaN                 NaN
4004           NaN                 NaN
4005           NaN                 NaN
4006           NaN                 NaN
4007           NaN                 NaN

[2936 rows x 11 columns]

In [57]:
# Drop duplicate rows while keeping the first occurrence
df_cleaned = df.drop_duplicates(keep='first')

# Reset index
df_cleaned.reset_index(drop=True, inplace=True)

In [59]:
print("Duplicates after cleaning:")
print(df_cleaned.duplicated().sum())  # Should be 0

Duplicates after cleaning:
0

In [61]:
df_cleaned.to_csv("cleaned_dataset.csv", index=False)
print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [91]:
import os
print(os.getcwd())  # Prints the current working directory

/Users/ahmadkhalilghamai/Desktop/IH-labs/lab-dw-data-cleaning-and-formatting

In [101]:
import sys
sys.path.append("/Users/ahmadkhalilghamai/Desktop/IH-labs/lab-dw-data-cleaning-and-formatting")

import data_cleaning  # Now try to import again

ModuleNotFoundError: No module named 'data_cleaning'

In [103]:
# Your code here
import pandas as pd

def load_data(url):
    """Loads a CSV file into a DataFrame."""
    return pd.read_csv(file_path)

def clean_customer_lifetime_value(df):
    """Cleans and converts the 'Customer Lifetime Value' column to a numeric format."""
    df["Customer Lifetime Value"] = (
        df["Customer Lifetime Value"]
        .astype(str)
        .str.replace(r"[\$,%\s]", "", regex=True)  # Remove $, %, spaces
        .astype(float)  # Convert to float
    )
    return df

def identify_duplicates(df):
    """Identifies duplicate rows in the DataFrame."""
    return df[df.duplicated()]

def remove_duplicates(df, keep="first", subset=None):
    """
    Removes duplicate rows from the DataFrame.

    Parameters:
    - keep: "first" (keep first occurrence), "last" (keep last), or False (remove all duplicates)
    - subset: List of columns to consider for identifying duplicates

    Returns:
    - Cleaned DataFrame
    """
    df_cleaned = df.drop_duplicates(keep=keep, subset=subset)
    df_cleaned.reset_index(drop=True, inplace=True)
    return df_cleaned

def filter_high_claim_low_clv(df):
    """
    Filters customers with high policy claim amounts (above 75th percentile)
    and low customer lifetime value (below 25th percentile).
    """
    high_claim_threshold = df["Total Claim Amount"].quantile(0.75)
    low_clv_threshold = df["Customer Lifetime Value"].quantile(0.25)

    filtered_df = df[
        (df["Total Claim Amount"] > high_claim_threshold) &
        (df["Customer Lifetime Value"] < low_clv_threshold)
    ]
    
    return filtered_df

def save_data(df, file_path):
    """Saves the cleaned DataFrame to a CSV file."""
    df.to_csv(file_path, index=False)
    print(f"Cleaned dataset saved to {file_path}")

In [105]:
import data_cleaning

def main():
    # Load the dataset
    file_path = ("/Users/ahmadkhalilghamai/Desktop/IH-labs/lab-dw-data-cleaning-and-formatting/cleaned_dataset.csv")
    df = data_cleaning.load_data(file_path)

    # Identify duplicates
    print("Checking for duplicate rows...")
    duplicates = data_cleaning.identify_duplicates(df)
    if not duplicates.empty:
        print(f"Found {len(duplicates)} duplicate rows.")

    # Remove duplicates (keeping the first occurrence)
    df_cleaned = data_cleaning.remove_duplicates(df, keep="first")

    # Verify the duplicates are removed
    remaining_duplicates = data_cleaning.identify_duplicates(df_cleaned)
    print(f"Remaining duplicates after cleaning: {len(remaining_duplicates)}")

    # Save the cleaned dataset
    output_file = "cleaned_dataset.csv"
    data_cleaning.save_data(df_cleaned, output_file)

if __name__ == "__main__":
    main()

ModuleNotFoundError: No module named 'data_cleaning'

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [87]:
import pandas as pd

# Load the dataset
df = pd.read_csv(url)

# Clean the 'Customer Lifetime Value' column (remove $, %, spaces)
df["Customer Lifetime Value"] = (
    df["Customer Lifetime Value"]
    .astype(str)
    .str.replace(r"[\$,%\s]", "", regex=True)  # Remove unwanted symbols
    .astype(float)  # Convert to float
)

# Check data statistics after cleaning
print(df[["Total Claim Amount", "Customer Lifetime Value"]].describe())

       Total Claim Amount  Customer Lifetime Value
count         1071.000000             1.068000e+03
mean           404.986909             7.936903e+05
std            293.027260             6.434784e+05
min              0.382107             2.004351e+05
25%            202.157702             4.034080e+05
50%            354.729129             5.881742e+05
75%            532.800000             8.962872e+05
max           2893.239678             5.816655e+06

In [79]:
import pandas as pd

# Load the dataset
df = pd.read_csv(url)

# Clean the 'Customer Lifetime Value' column
df["Customer Lifetime Value"] = (
    df["Customer Lifetime Value"]
    .astype(str)  # Convert to string to allow replacements
    .str.replace(r"[\$,%\s]", "", regex=True)  # Remove $, %, spaces
    .astype(float)  # Convert to float
)

# Verify the changes
print(df["Customer Lifetime Value"].head())

0           NaN
1     697953.59
2    1288743.17
3     764586.18
4     536307.65
Name: Customer Lifetime Value, dtype: float64

In [81]:
# Get summary statistics for 'Total Claim Amount' and 'Customer Lifetime Value'
df[["Total Claim Amount", "Customer Lifetime Value"]].describe()

       Total Claim Amount  Customer Lifetime Value
count         1071.000000             1.068000e+03
mean           404.986909             7.936903e+05
std            293.027260             6.434784e+05
min              0.382107             2.004351e+05
25%            202.157702             4.034080e+05
50%            354.729129             5.881742e+05
75%            532.800000             8.962872e+05
max           2893.239678             5.816655e+06

In [83]:
# Calculate the 75th percentile for 'Total Claim Amount'
high_claim_threshold = df["Total Claim Amount"].quantile(0.75)

# Calculate the 25th percentile for 'Customer Lifetime Value'
low_clv_threshold = df["Customer Lifetime Value"].quantile(0.25)

# Filter customers meeting both conditions
high_claim_low_clv_customers = df[
    (df["Total Claim Amount"] > high_claim_threshold)
    & (df["Customer Lifetime Value"] < low_clv_threshold)
]

# Display the filtered DataFrame
print(high_claim_low_clv_customers.head())

   Customer          ST GENDER Education  Customer Lifetime Value   Income  \
17  OE15005        Cali    NaN   College                394524.16  28855.0
23  TZ98966      Nevada    NaN  Bachelor                245019.10      0.0
26  US89481  California    NaN  Bachelor                394637.21      0.0
38  CM61827      Oregon    NaN  Bachelor                309003.41      0.0
42  IL19217  California    NaN  Bachelor                393900.64  60021.0

    Monthly Premium Auto Number of Open Complaints     Policy Type  \
17                 101.0                    1/0/00   Personal Auto
23                  73.0                    1/3/00  Corporate Auto
26                 111.0                    1/0/00   Personal Auto
38                  90.0                    1/0/00   Personal Auto
42                  99.0                    1/0/00   Personal Auto

    Vehicle Class  Total Claim Amount
17            SUV          647.442031
23  Four-Door Car          554.376763
26  Four-Door Car          799.200000
38   Two-Door Car          648.000000
42  Four-Door Car          882.871945

In [85]:
# Get summary statistics for 'Total Claim Amount' and 'Customer Lifetime Value' for filtered customers
high_claim_low_clv_customers[["Total Claim Amount", "Customer Lifetime Value"]].describe()

       Total Claim Amount  Customer Lifetime Value
count           40.000000                40.000000
mean           723.776577            341577.910000
std            149.280606             56921.472027
min            537.600000            228759.690000
25%            633.378846            304220.875000
50%            685.284189            365995.370000
75%            799.200000            387364.700000
max           1185.988301            402381.440000